{% extends "base.html" %}

<!-- title -->
{% block title %} {{ SITENAME }} {% endblock %}

<!-- head -->
{% block head %}
<!-- Additional head content specific to index.html can be added here -->
{% endblock %}

<!-- prettier-ignore -->
{% block sourcecode_message %}{% endblock %}

<!-- content -->
{% block content %}
<main class="main-content container my-5 px-2">
  {% for article in articles_page.object_list %} {% if loop.index == 1 %}
  <div class="row mb-4 my-3">
    <div class="col-12">
      <div class="card border-light">
        <div class="row g-0">
          {% if article.og_image %}
          <div class="col-md-4">
            <img
              src="{{ article.og_image }}"
              class="img-fluid rounded-start"
              alt="アイキャッチ画像"
            />
          </div>
          {% endif %}
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                <a href="{{article.url}}"> {{ article.title }}</a>
              </h5>
              <p class="card-text">{{ article.summary|striptags }}</p>
              <p class="card-text">
                <small class="text-muted"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    class="me-2"
                    fill="currentColor"
                    class="bi bi-calendar-event"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"
                    />
                    <path
                      d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"
                    /></svg
                  >{{ article.locale_date }}</small
                >
              </p>
              <p class="card-text">
                <small class="text-muted">by {{ article.author }}</small>
              </p>
              <!-- 何ヶ月前とかでdateを入れる -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% else %}
    <div class="col">
      <div class="card border-light h-100">
        {% if article.og_image %}
        <img
          src="{{ article.og_image }}"
          class="card-img-top"
          alt="アイキャッチ画像"
          style="object-fit: cover; width: 100%; height: 200px"
        />
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">
            <a href="{{article.url}}">{{ article.title }}</a>
          </h5>
          <p class="card-text">{{ article.summary|striptags }}</p>
          <p class="card-text">
            <small class="text-muted">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                class="me-2"
                fill="currentColor"
                class="bi bi-calendar-event"
                viewBox="0 0 16 16"
              >
                <path
                  d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"
                />
                <path
                  d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"
                />
              </svg>
              {{ article.locale_date }}</small
            >
          </p>
          <p class="card-text">
            <small class="text-muted">by {{ article.author }}</small>
          </p>
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>

  <!-- ページネーション -->
  {% include 'pagination.html' %}

  <!-- コンテンツ紹介 -->
  <section class="content-info pt-4 pb-4 px-3">
    <!-- bootstrapの画像カード。角丸はなくす。カラム構成にして、4つ並べる。中央から並べるようにする
      pelicanconfからCONTENT_LINKを呼び出す。中身は辞書のリスト。それぞれにbannerが画像、linkがURLがある。-->
    <div class="row">
      {% for content in CONTENT_LINK %}
      <div class="col-md-4">
        <div class="card">
          <a
            href="{{ content.link }}"
            class="link-dark link-opacity-50-hover link-underline-opacity-0"
          >
            <img
              src="{{ content.banner }}"
              class="card-img-top"
              alt="{{ content.title }}"
              style="object-fit: cover; width: 100%; height: 200px"
            />
            <div class="card-body">
              <h5 class="card-title text-center">{{ content.title }}</h5>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  {% endblock %}
</main>
